<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        ">

	<dubbo:application name="photo" />
	<dubbo:protocol name="dubbo"/>
    <dubbo:registry  protocol="zookeeper"  address="127.0.0.1:2181"/>

	<!--系统登录服务-->
	<dubbo:reference  id="loginService" check="false"  interface="com.yx.photo.loginservice.LoginService" />
</beans>